{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h4>Editar Postagem</h4>
<div class="card">
    <div class="card-body">
        <form action="/admin/postagens/editar" method="POST">
            <label for="nome">Titulo: </label>
                <input type="hidden" name="id" value="{{postagem._id}}">
                <input type="text" id="titulo" name="titulo" value="{{postagem.titulo}}" placeholder="Titulo da Postagem" class="form-control" required>
            <label for="slug">Slug: </label>
                <input type="text" id="slug" name="slug" value="{{postagem.slug}}" placeholder="Slug da Postagem" class="form-control" required>
            <label for="cateogria">Categorias: </label>
            <select class="custom-select mb-3" name="categoria">
                {{#each select_filter}}
                    {{#if selected}}
                        <option selected value="{{id}}">{{nome}}</option>
                    {{else}}
                        <option value="{{id}}">{{nome}}</option>
                    {{/if}}
                {{/each}}
            </select>
            <label for="descricao">Descrição: </label>
                <input type="text" id="descricao" name="descricao" value="{{postagem.descricao}}" placeholder="Descrição da Postagem" class="form-control" required>
            <label for="conteudo">Descrição: </label>
                <textarea id="conteudo" name="conteudo" class="form-control" required>{{postagem.conteudo}}</textarea>
                <br>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>